/**
Set box-sizing to border-box for all elements by default. This makes it
easier to ensure widths when adding padding and borders. */

html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;  /* disable text highlighting as suggested by sindresorhus */
}
*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    background: #fff;
    -webkit-background-size: cover;
    background-size: cover;
    font-size: 1em;
    line-height: 1.4
}
::-webkit-scrollbar {
    display: none;
}

h2 {
   margin: -15px 0 9px;
   font-size: 19px;
   color: #77bf90;
   float: left;
}

ul {
    margin: 1em 0;
    padding: 0 0 0 40px
}

li:first-child {
    margin-top:-10px;
}
input {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    vertical-align: middle;
    line-height: normal
}
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    height: 13px;
    width: 13px
}
.clear {
    clear: both
}

#switchbox {
    background-color: #373a47;
    float: left;
    width: 400px;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #202020;
    box-shadow: inset 0 1px 3px rgba(255, 255, 255, .1), 0 3px 5px rgba(0, 0, 0, .1)
}
ul {
    list-style-type: none;
    margin-left: -60px;
    padding: 0
    margin-top:-20px;
}
li {
    float: left;
    margin: 0;
    padding: 26px 50px;
    text-align: center;
}

label {
    color: transparent;
    border-radius: 14px;
    border: 4.1px solid #f2f2f2;
    display: block;
    position: relative;
    text-indent: 100%;
    width: 60px;
    height: 29.3px;
    -webkit-transition: background-position .3s ease;
    -moz-transition: background-position .3s ease;
    cursor: pointer;
    font-size: .01em;
    float: left;
}
input[type="range"] {
    float: left;
    width: 155px;
    margin: 5px 0 0 20px
}
input[type="checkbox"] {
    display: none
}
label span {
    background: #fff;
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -1px;
    width: 26px;
    height: 26px;
    -webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    transition: all .2s ease;
    border: 4px solid #f2f2f2;
    border-radius: 2em;
}
input[type="checkbox"]:checked+label {
    background-position: 0 0;
    background: #77bf90;
}
input[type="checkbox"]:checked+label span {
    left: 28px;
}
audio {
    display: inline-block;
    display: inline;
    zoom: 1
}
audio:not([controls]) {
    display: none;
    height: 0
}
.arrow {
    position: fixed;
    padding: 12px 0;
    background: transparent;
}
.arrow:before {
    content: "";
    height: 0;
    width: 0;
    border-width: 0 8px 12px 8px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.close {
    background: transparent url('../img/close.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: fixed;
    right: 6px;
    text-indent: -10000px;
    top: 15px;
    width: 32px;
    z-index: 1;
    -webkit-app-region: no-drag;
}
